<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Eat Da Burger</title>
</head>
<body>
    <h1>Eat Da Burger</h1>
    {{{body}}}
 
    <form action="/newBurger" target="_blank" method="POST">
        Enter a new burger to eat:<br>
        <input type="text" name="newBurger" placeholder="New Burger Here">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>