<ul>
{{#each burgers}}
    <li>{{this.id}}. {{this.burger_name}} <button>NOM this burger</button></li>
{{/each}}    
</ul>


<ul>
{{#each emptyBurgers}}
    <li>{{pet}}. {{burger_name}} <button>NOM this burger</button></li>
{{/each}}    
</ul>